<% content_for :title, "Editing agente" %>

<h1>Editing agente</h1>

<%= render "form", agente: @agente %>

<br>

<div>
  <%= link_to "Show this agente", @agente %> |
  <%= link_to "Back to agentes", agentes_path %>
</div>
