<div id="<%= dom_id conversacion %>">
  <p>
    <strong>Agente:</strong>
    <%= conversacion.agente_id %>
  </p>

  <p>
    <strong>Duracion:</strong>
    <%= conversacion.duracion %>
  </p>

  <p>
    <strong>Resumen:</strong>
    <%= conversacion.resumen %>
  </p>

</div>
